html{
	height: 100%;
}

body{
	padding-right: 0px !important;
	height: 100%;
}

.titulo-a{
	color: white !important;
}
.titulo-a:hover{
	text-decoration: none;
}
.largo{
	height: 900px;
}
.color{
	background: #6D18A9 !important;
}
.navbar-toggler{
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
	border: none !important;
}
.menu-form{
	margin-top: 50px !important;
}
.navbar {
    padding: 0rem 1rem !important;
}
.navbar-toggler:hover{
	   background-color: rgba(255, 255, 255, 0.13) !important;
}

.material-icons{
	font-size: 30px !important;
}
.cont-icons{
	font-size: 150px !important;
	color: rgb(109,23,169) !important;
}
.navbar-toggler{
	font-size: 0px !important;
	padding: 0px !important;
}
.modal-backdrop{
	z-index: 0 !important;
}
.btn-color{
	background: #6c18a9 !important;
	color: white !important;
}
.is-focused .bmd-label-static{
	color: rgb(108, 24, 169) !important;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#6c18a9 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}
.custom-select{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}
.custom-select:focus {
	border-bottom: 2px solid #6c18a9 !important;
    border-color: #6c18a9 !important;
    transition-duration: .3s;
    box-shadow: none !important;
}
.error{
	display:none;
	color: red;
	font-size: 10px;
}
.titulo{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 40px;
}

.bmd-drawer-f-l>.bmd-layout-drawer {
    width: 300px !important;
    transform: translateX(-300px)!important;
}
:not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l>.bmd-layout-drawer {
    transform: translateX(0)!important;
}
/*perfil*/

.foto-perfil{
	position: absolute;
	top: 110px;
	left: 70px;
	border-radius: 50%;
	border: 6px solid white;
	width: 160px;
	height: 160px;
}
.link{
	color: black !important;
	cursor: pointer;
}

.link:hover{
	color: black !important;
	text-decoration: none !important;
}

.text-pregunta{
	font-size: 40px !important;
}
.text-respuesta{
	font-size: 25px !important;
	color: white !important;
}
.ocultar{
	display: none !important;
}
.heigth{
	height: 100%;
}
.menu-mt{
	margin-top: 10rem !important;
}
.mt-volver{
	margin-top: 100px;
}

.color1{
	background: #F6490D;
}
.color2{
	background: #071A52;
}
.color3{
	background: #970747;
}
.color4{
	background: #F12B6B;
}
