<div class="col-10 offset-1 menu-form">
	<h1 class="mb-5 text-center">Añadir Pregunta</h1>
	<form id="form">
		<div class="form-group">
			<label for="" class="bmd-label-floating">Enunciado</label>
			<input type="text" class="form-control" id="enunciado" required>
		</div>
		<div class="form-group">
			<label for="" class="bmd-label-floating">Respuesta 1</label>
			<input type="text" class="form-control" id="res_1" required>
		</div>
		<div class="form-group">
			<label for="" class="bmd-label-floating">Respuesta 2</label>
			<input type="text" class="form-control" id="res_2" required>
		</div>
		<div class="form-group">
			<label for="" class="bmd-label-floating">Respuesta 3</label>
			<input type="text" class="form-control" id="res_3" required>
		</div>
		<div class="form-group">
			<label for="" class="bmd-label-floating">Respuesta 4</label>
			<input type="text" class="form-control" id="res_4" required>
		</div>
		<div class="form-group">
			<label for="" class="bmd-label-floating">Respuesta Correcta</label>
			<input type="text" class="form-control" id="res_c" required>
		</div>
		<div class="form-group">
			<label for="inputState">Categoria</label>
			<select id="select" class="form-control" required>
				<option value=""></option>
				<option value="Mat">Matematicas</option>
				<option value="His">Historia</option>
				<option value="CG">Cultura general</option>
			</select>
		</div>
		<button type="reset" class="btn btn-default" id="cancelar">Cancel</button>
		<button type="submit" class="btn btn-primary btn-raised" id="añadir">Enviar</button>
	</form>
</div>