<div class='col-4 text-center'>  
	<a class='link' id='crear'>
		<i class='material-icons cont-icons'>library_add</i><h6>Crear preguntas</h6>
	</a> 
</div> 
<div class='col-4 text-center'> 
	<a class='link' id='modificar'>
		<i class='material-icons cont-icons'>mode_edit</i><h6>Modificar preguntas</h6>
	</a> 
</div> 
<div class='col-4 text-center'>  
	<a class='link' id='eliminar'>
		<i class='material-icons cont-icons'>delete</i><h6>Eliminar preguntas</h6>
	</a> 
</div>  
<div class='col-12 text-center mt-volver'> 
	<a href='' class='link' id='volver'>
		<i class='material-icons'>reply</i><h6>Volver</h6>
	</a> 
</div>