<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="modal_mod">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modificar pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="">Enunciado</label>
            <input type="text" class="form-control" value="" id="InputEnunciado">
          </div>
          <div class="form-group">
            <label for="">Respuesta 1</label>
            <input type="text" class="form-control" value="" id="InputRespuesta1">
          </div>
          <div class="form-group">
            <label for="">Respuesta 2</label>
            <input type="text" class="form-control" value="" id="InputRespuesta2">
          </div>
          <div class="form-group">
            <label for="">Respuesta 3</label>
            <input type="text" class="form-control" value="" id="InputRespuesta3">
          </div>
          <div class="form-group">
            <label for="">Respuesta 4</label>
            <input type="text" class="form-control" value="" id="InputRespuesta4">
          </div>
          <div class="form-group">
            <label for="">Respuesta Correcta</label>
            <input type="text" class="form-control" value="" id="InputRespuestaCorrecta">
          </div>
          <div class="form-group">
            <label for="inputState">Categoria</label>
            <select id="select" class="form-control" required>
              <option value=""></option>
              <option value="Mat">Matematicas</option>
              <option value="His">Historia</option>
              <option value="CG">Cultura general</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modificar_datos">Modificar</button>
      </div>
    </div>
  </div>
</div>